.hero {
    margin: 70px auto 0px;
    text-align: center;
}

.logos {
    display: flex;
    flex-direction: column;
    width: 90px;
    margin-left: 20px;
    transform: translateY(50px);
}

.hero-bis {
    margin-top: 50px;
    display: flex;
    height: 25rem;

}

.hero-text {
    color: rgb(22, 21, 21);
    border-radius: 1rem;
    padding: 40px;
    padding-right: 100px;
    margin: auto;
    background: linear-gradient(80deg,#89ba26,#bed000);
    width: 38.25rem;
    height: 22.75rem;
    transform: translateX(-150px);
    box-shadow: 0 20px 40px 0 rgb(64 82 124 / 16%);
}

.imgRightIntroduction {
    max-width: 100%;
    max-height: 100%;
    transform: translate(460px, -105px);
}

h2 {
    margin-bottom: 20px;
}

p {
    font-size: 1.063rem;
    margin-top: 10px;
}

span {
    color: #333;
    font-size: large;
    font-weight: bolder;
}
