.animate__animated {
    --animate-delay: 2s;
}




.h1-bilan {
    text-align: center;
    margin-top: 70px;
}

.p-bilan {
    padding: 70px 27% 4% 27%;
}

.h2-bilan2 {
    text-align: center;
}

.p-bilan2 {
    text-align: center;
}
