.animate__animated {
    --animate-delay: 2s;
}

.bilan-img {
    display: block;
    margin: auto;
}

.bilan-image {
    margin: 70px auto;
}
.h1-bilan {
    text-align: center;
    margin: 50px 0;
}

.p-bilan {
    padding: 0 20% 20% 20%;
    font-size: 1rem;
}