.h2-metier {
    padding: 40px 0 20px 40px;
}

.h1-metier {
    margin-top: 40px;
    padding-left: 40px;
    font-size: 3rem;
}

.p-metier {
    padding: 0 100px 0 40px;
    font-size: 1.2rem;
}

.div-metier {
    display: flex;
    width: 100vW;
}

.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   /* border: 3px solid black; */
    height: 700px;
    width: 300px;
    border-radius: 8px;
    margin-left: 50px;
    padding: 30px 10px 30px 20px;
    font-size: 1.2rem;
    background-color: #333;
    box-shadow: -7px 7px 2px 0px rgba(0,0,0,0.1);
}

.aaa {
    margin-bottom: 20px;
    font-weight: bold;
    color:azure;
}

.aaa:hover {
    color: rgb(143, 135, 135);
    cursor: pointer;
}

.right-side {
    margin: 50px 200px 50px 200px;
}

.span-source {
   font-style: italic;
   font-weight: 200;
}
.table {
    margin: 30px 40px;
    text-align: center;
}

.h3-metier {
    transform: translateX(-200px);
}