.h2-metier {
    padding: 40px 0 20px 40px;
}

.h1-metier {
    margin-top: 40px;
    padding-left: 40px;
    font-size: 3rem;
}

.p-metier {
    padding: 0 100px 0 40px;
    font-size: 1.2rem;
}

.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   /* border: 3px solid black; */
    height: 70%;
    width: 24%;
    border-radius: 2px;
    margin-left: 50px;
    padding: 30px 10px 30px 20px;
    font-size: 1.3rem;
    background-color: rgb(236, 231, 231);
    position: fixed; /* Fixed/sticky position */
    top: 150px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99;
}

.aaa {
    margin-bottom: 20px;
    font-weight: bold;
}

.aaa:hover {
    color: rgb(143, 135, 135);
    cursor: pointer;
}

.right-side {
    margin-left: 32%;
    margin-bottom: 200px;
}

.span-source {
   font-style: italic;
   font-weight: 200;
}